body {
    background-color: #9c9f84;
}
header {
    background-color: #5c755e;
	color: black;
	margin: 10px;
	padding: 20px;
	border-radius: 5px;
	height:90px; 
}
p {
    color: black;
	padding: 30px;
	border: 1px black;
}
label {
	color:black;
}
nav {
    background-color: #5c755e;
	color: black;
	margin: 10px;
	padding: 20px;
	border-radius: 5px;
	height:90px;
}

section {
    background-color: #5c755e;
	color: black;
	margin-left: 10px;
	margin-right: 320px;
	margin-top: 10px;
	margin-bottom: 1-px;
	padding: 20px;
	border-radius: 5px;
}
aside {
    background-color: #5c755e;
	color: black;
	margin: 10px;
	padding: 20px;
	border-radius: 5px;
	float: right;
	width: 320px;
}
