body {
    background-color: #9c9f84;
}
header {
    background-color: #5c755e;
	color: black;
	margin: 10px;
	padding: 10px;
	border-radius: 5px;
}
p {
    color: black;
	padding: 30px;
	border: 1px black;
}
label {
	color:black;
}
nav {
    background-color: #5c755e;
	color: black;
	margin: 10px;
	padding: 10px;
	border-radius: 5px;
	
legend {
	color:black;
}
section {
    background-color: #5c755e;
	color: black;
	margin: 10px;
	padding: 10px;
	border-radius: 5px;
}
aside {
    background-color: #5c755e;
	color: black;
	margin: 10px;
	padding: 10px;
	border-radius: 5px;
}